{% extends 'base.html'%}
{% load static%}
{%load custom_tags%}

{% block title %}Movie Reviews{% endblock %}

{% block content %}

    <div class='row'>
    {% for post in post_list %}
        <div class="col-12 col-lg-6 col-xl-4 mt-4 border">
            <h3 class="text-center text-justify"><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h3>
            <img src="{{post.image.url}}" alt="article image" class="rounded mx-auto d-block img-fluid max-width:100% height:auto" >
            <p class="text-center text-justify">Release Date: {{post.release_date}}</p>
            {%AVERAGE_RATINGS post.pk as AVERAGE%}
            
            <p class='text-center'>Ratings:
                {%if AVERAGE.avg_rating%}{{AVERAGE.avg_rating}}
                {%else%}0{%endif%}</p>
                <input type="hidden" id="myVar" name="variable" value="{{ AVERAGE.avg_rating}}">
            <p class="text-center">Genre: 
                    {% for tag in post.tags.all %}
                    <a href="{% url 'post:list_slug' tag_slug=tag.slug %}">
                    {{ tag.name }}
                    </a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
            </p>
            <!--  -->
        </div>

        {%empty%}
            <p>No Movies Post yet!</p>
    {% endfor %}
    </div>

    {%include 'pagination.html' with page=page_obj%}
{% endblock %}
{%block script%}
<script src="{%static 'blogs/js/script.js'%}"></script>
{%endblock script%}